.toolbox{
    h2{
        display: block;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
        .category{
            position: relative;
            background: #eaeaea;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 200px;
            h4{
                position: absolute;
                top: 10px;
                left: 10px;
                margin: 0;
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                }
            }
        }
    }
}