$_color_darkest: #30353e;
$_color_text: #efefef;
$_color_link: #efefef;


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    background-color: $_color_darkest;
    color: $_color_text;
}

section{
    display: block;
    width: 100%;
    min-height: 400px;
    margin: 0 0 20px 0;

    >div{
        max-width: 800px;
        margin: auto;
    }
}


a {
    color: $_color_link;
    text-decoration: none;
    &:hover{}
}